@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

body {
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.body-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#body-section1, #body-section2, #body-section4 {
  height: 100vh;
}

.body-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#body-section1 {
  color: #ffffff;
  text-align: center;
  background: url(../../asset/images/background-0.png), url(../../asset/images/background.jpg) no-repeat center center;
  background-size: cover;
}

.main-header {
  height: 20vh;
  margin: 15vh auto 0;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  line-height: 5rem;
}

.main-descrip {
  height: 15vh;
  margin: 0 auto;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 2.6rem;
}

.main-descrip h2 {
  font-weight: normal;
}

.container-rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20vh;
  width: 20vw;
  max-height: 150px;
  max-width: 250px;
  border: solid 2px #ffffff;
  margin: 2vh 3vw;
}

.rect::before {
  content: url(../../asset/images/star.png);
  position: absolute;
  margin: -12vh 6.5vw 0;
}

.wrap-main-menu {
  width: 100%;
  background: #ffffff;
  height: 10vh;
  max-height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: auto;
  height: 100%;
}

.item-main-menu {
  display: inline-block;
  border: solid #444 1px;
  -webkit-box-shadow: #444444 2px 2px 5px;
          box-shadow: #444444 2px 2px 5px;
  border-radius: 6.7vw;
  width: 13.3vw;
  max-width: 200px;
  margin: auto;
  margin-right: 0.5vw;
}

.item-main-menu:hover {
  background: #303263;
}

.link-main-menu {
  display: block;
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.link-main-menu:hover {
  color: #face91;
  margin: auto;
}

.body-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-section2::before {
  content: "WA";
  font-size: 25vw;
  font-weight: bold;
  color: #c1c1c150;
  position: absolute;
  margin-left: 30%;
}

.sub-section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2vw;
  height: 50vh;
}

.section2-header {
  margin: auto;
}

.section2-header h1 {
  font-weight: bold;
  font-size: 3rem;
  margin: auto;
}

.section2-descr {
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50vw;
}

.section2-descr h2 {
  margin: auto;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.section2-rect {
  margin: auto;
  width: 25vw;
  height: 25vh;
}

.section2-rect h3 {
  font-size: 2em;
  font-weight: bold;
  line-height: 2em;
}

.section2-rect h3::before {
  content: url(../../asset/images/rocket.png);
  position: absolute;
  margin: -7vh 0 0;
}

.section2-rect p {
  font-size: 1.1em;
}

#body-section3 {
  max-height: none;
}

.body-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2vw;
}

#sub-section3-1 {
  height: 50vh;
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-2-1.jpg) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #ffffff;
  padding: 0 20vh;
}

#sub-section3-1 h2, h3 {
  font-weight: lighter;
}

#sub-section3-1 h2 {
  font-size: 2.5em;
}

.section3-header {
  margin: auto;
}

.section3-descr {
  margin: auto;
  margin-bottom: 5vh;
  line-height: 2rem;
}

#rect-3-1 {
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-3-rect-1.jpg) no-repeat center center;
  background-size: cover;
}

#rect-3-2 {
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-3-rect-2.jpg) no-repeat center center;
  background-size: cover;
}

#rect-3-3 {
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-3-rect-3.jpg) no-repeat center center;
  background-size: cover;
}

.sub-section3 h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 2.5rem;
}

.section3-rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 0 0;
  width: 24vw;
  height: 35vh;
  padding: 2vh 2vw;
  z-index: 2;
}

.sect3-buttons {
  border: #00b9e7 solid 2px;
  color: #ffffff;
  font-size: 1.5rem;
  width: 12vw;
  height: 6vh;
  -webkit-box-shadow: #00b9e7 0px 0px 4px;
          box-shadow: #00b9e7 0px 0px 4px;
}

.sect3-buttons::after {
  content: url(../../asset/images/right-arrow-white.png);
  position: absolute;
  display: block;
  margin: -5vh 0 0 12.5vw;
}

.sect3-buttons span {
  display: block;
  margin: 0.6rem auto;
  text-align: center;
}

#sub-section3-2 {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sub-section3-2::before {
  display: block;
  content: "Разработка";
  color: #ffffff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  line-height: 8rem;
  background: url(../../asset/images/rect.jpg) no-repeat center center;
  background-size: contain;
  position: absolute;
  margin: -8vh 0 0 -30.4vw;
  width: 50vw;
  height: 45vh;
}

.sub-section3-2::after {
  display: block;
  content: "";
  background: url(../../asset/images/rect-0.png) no-repeat top left;
  background-size: contain;
  position: absolute;
  margin: -6vh 0 0 -33vw;
  width: 25vw;
  height: 25vh;
}

#sub-section3-3 {
  margin-bottom: 10vh;
}

#sub-section3-3 h2 {
  display: block;
  color: #000000;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 6rem;
}

#sub-section3-3 p {
  display: block;
  margin: auto;
  color: #000000;
  font-size: 1.4rem;
  line-height: 2.6rem;
}

.section3-3-rect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0;
  margin-top: 8vh;
}

.section3-3-rect h2::before {
  content: "BE THE FIRST";
  color: #c1c1c150;
  font-size: 4.5rem;
  position: absolute;
  margin-left: -5vw;
  z-index: -1;
}

.section3-3-2-1 {
  background: url(../../asset/images/Google-Partner-Logo-square.png) no-repeat center center;
  background-size: contain;
  width: 9vw;
  height: 16vh;
}

.section3-3-2-2 {
  background: url(../../asset/images/yandex-logo.png) no-repeat center center;
  background-size: contain;
  width: 9vw;
  height: 16vh;
}

#body-section4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-sections1-section4 h2::before {
  content: "OUR PROJECTS";
  position: absolute;
  color: #c1c1c1;
  font-size: 2.6em;
  font-weight: 900;
  margin-left: -10vw;
  z-index: -1;
}

.sub-sections1-section4 h2 {
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 2em;
  line-height: 2.8em;
}

.sub-sections1-section4 {
  background: url(../../asset/images/background-0.png);
  width: 100%;
  height: 6vw;
}

.button-any-more {
  background: #f6ae48;
  margin: 2vh auto;
  width: 15rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 3vh;
}

a.link-button-more {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 2vh;
  text-transform: uppercase;
}

.section-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row1-item {
  width: 100%;
  height: 40vh;
  margin: auto;
}

.row2-item {
  width: 100%;
  height: 40vh;
  margin: auto;
}

.gallery-r1-c1 {
  background: url(../../asset/images/gallery-1-1.jpg) no-repeat top center;
  background-size: cover;
}

.gallery-r1-c2 {
  background: url(../../asset/images/gallery-1-2.jpg) no-repeat top center;
  background-size: cover;
}

.gallery-r2-c1 {
  background: url(../../asset/images/gallery-2-1.jpg) no-repeat top center;
  background-size: cover;
}

.gallery-r2-c2 {
  background: url(../../asset/images/gallery-2-3.jpg) no-repeat top center;
  background-size: cover;
}

.gallery-r2-c3 {
  background: url(../../asset/images/gallery-2-4.jpg) no-repeat top center;
  background-size: cover;
}

#body-section5 {
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-5jpg.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

.sub-section1-section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-header-section-1-5 {
  color: #ffffff;
}

.sec-header-section-1-5 h2 {
  font-size: 5vh;
  line-height: 18.5vh;
  text-transform: uppercase;
  font-weight: 900;
}

.sub-section2-section5 h3 {
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 8rem;
  margin-left: 4.5vw;
}

.sec5-2header-comp::before {
  position: absolute;
  content: url(../../asset/images/comp.png);
  margin-left: -4.5vw;
}

.sec5-2header-magnify::before {
  position: absolute;
  content: url(../../asset/images/magnifyingglass.png);
  margin-left: -4.5vw;
}

.sec5-2header-diamond::before {
  position: absolute;
  content: url(../../asset/images/diamond.png);
  margin-left: -4.5vw;
}

.sub-section2-section5 p {
  line-height: 1.6rem;
  font-size: 1.1rem;
}

.sub-section2-section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sec5-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
}

.button-trade {
  background: #f6ae48;
  margin: 5vh auto;
  width: 15rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 3vh;
  cursor: pointer;
  -webkit-transition: background-image 1000ms;
  transition: background-image 1000ms;
  background-image: -webkit-gradient(linear, left top, right top, from(#f5ce62), color-stop(#e43603), color-stop(#fa7199), to(#e85a19));
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
}

.button-trade:hover {
  background-position: right;
}

a.link-button-trade {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 2vh;
  text-transform: uppercase;
}

#body-section6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15vh 0;
}

.section6-subsections {
  margin: 0 5vw;
}

.section6-subsection1 h2 {
  font-weight: 900;
  font-size: 4vh;
  line-height: 18.5vh;
  text-transform: uppercase;
}

.section6-subsection1 h2::before {
  content: "be careful";
  color: #c1c1c150;
  font-size: 4.5rem;
  position: absolute;
  margin-left: -4vw;
  z-index: -1;
}

.section6-subsection1 p {
  display: block;
  margin: auto;
  color: #000000;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.section6-subsection2 {
  background: url(../../asset/images/sec6-img.jpg) no-repeat center center;
  background-size: cover;
  width: 30vw;
}

#body-section7 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../../asset/images/background-0.png), url(../../asset/images/background-sec7.jpg) no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

.section7-subsections {
  margin: 0 5vw;
}

.section7-subsection1 h2 {
  font-weight: 900;
  font-size: 4vh;
  line-height: 18.5vh;
  text-transform: uppercase;
}

.section7-subsection1 p {
  display: block;
  margin: auto;
  font-size: 1.4rem;
  line-height: 2.3rem;
}

.section7-subsection2 form {
  margin: 5vh auto;
  font-size: 1.4rem;
  color: #ffffff;
}

#back-link * {
  background: #ffffff00;
}

#back-link {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[2] 1fr;
      grid-template-columns: repeat(2) 1fr;
}

input, textarea {
  color: #ffffff;
  border-color: #ffffff;
}

label {
  border: none;
}

footer {
  background: #f6ae48;
  width: 100%;
  height: 15vh;
}
/*# sourceMappingURL=style.css.map */